
<!DOCTYPE html>
<html>
<body>
    <head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!----  <link rel="stylesheet" href="COMPLETED_WORK_FORM STYLER.css"/> --> 
    </head>

    <h1>TR PLANNERS COMPLETED WORKS FORM</h1>

    <p>LINKS</p>

    <ol>

        <li>
            <a href="/">HOMEPAGE</a>
        </li>

        <li>
            <a href="unlimited">UNLIMITED PLANNING TABLE</a>
        </li>

        <li>
            <a href="daily">DAILY SCHEDULE TABLE</a>
        </li>

    </ol>
    

    <form action="#" method = "post">

<div class="form-row">

  <div class="col">
          
  <h2>OPERATION 1</h2>

    <div class="form-group">
      <label for="OPERATION 1">OPERATION DESCRIPTION</label>
        <select class="custom-select mr-sm-2" id="OPERATION 1">
          <option selected>Selection Operation Type</option>
          <option value="1">Rail Replacement</option>
          <option value="2">Build-up Welding</option>
          <option value="3">Welding</option>
          <option value="4">Turnout/Crossing Replacement</option>
          <option value="5">Retrieve Rail</option>
          <option value="6">Consist Transfer</option>
        </select>
    </div>
 

    <div class="form-group">
      <label for="MO NUMBER 1">M.O. Number</label>
        <input type="text" class="form-control" id="MO NUMBER 1" placeholder="10000000/10000001">
    </div>

    <div class="form-group">
      <label for="UT NUMBER 1">UT Notif. Number</label>
        <input type="text" class="form-control" id="UT NUMBER 1" placeholder="10000000/10000001">
    </div>

    <div class="form-group">
      <label for="CONSIST 1">CONSIST TEAM</label>
        <input type="text" class="form-control" id="CONSIST 1" name="CONSIST 1" placeholder="e.g. D204(HOO KK)+TGV4+TGV5+TGV6+WWCOM2+D212(NAZHAR) / GS: AMSYAR">
    </div>

    <div class="form-group">
        <input type="submit" value="submit">
    </div>

    <div class="form-group">
      <label for="PM 1">M.O. Number</label>
        <input type="text" class="form-control" id="PM 1" placeholder="PM Name">
    </div>

    <div class="form-group">
      <label for="AGAT NUMBER 1">AGAT NUMBER</label>
        <input type="text" class="form-control" id="AGAT NUMBER 1" placeholder="AGAT NUMBER">
    </div>

    <div class="form-group">
      <label for="DEFECT 1">DEFECT TYPE & CHAINAGE</label>
        <input type="text" class="form-control" id="DEFECT 1" placeholder="e.g. 31477L MUT HAZ/WB. Depth: 11.22mm">
    </div>

    <div class="form-group">
      <label for="SWITCH TYPE 1">SWITCH TYPE/TURNOUT NO.</label>
        <input type="text" class="form-control" id="SWITCH TYPE 1" placeholder="e.g. LSR & LSTK/ E202">
    </div>

    <div class="row">
      <div class="col">
        <label for="DEPOT START 1">DEPOT START 1</label>
          <select class="custom-select mr-sm-2" id="DEPOT START 1">
            <option selected>Choose Start Depot...</option>
            <option value="1">CHD</option>
            <option value="2">UPD</option>
            <option value="3">BSD</option>
            <option value="4">TWD</option>
          </select>
      </div>

      <div class="col">
        <label for="DEPOT END 1">DEPOT END 1</label>
          <select class="custom-select mr-sm-2" id="DEPOT END 1">
            <option selected>Choose End Depot...</option>
            <option value="1">CHD</option>
            <option value="2">UPD</option>
            <option value="3">BSD</option>
            <option value="4">TWD</option>
          </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="SECTOR START 1">SECTOR START 1</label>
          <select class="custom-select mr-sm-2" id="SECTOR START 1">
            <option selected>Choose Start Sector...</option>
            <option value="1">AMK</option>
            <option value="2">BSH</option>
            <option value="3">CGA</option>
            <option value="4">DVR</option>
          </select>
      </div>

      <div class="col">
        <label for="SECTOR END 1">SECTOR END 1</label>
          <select class="custom-select mr-sm-2" id="SECTOR END 1">
            <option selected>Choose End Sector...</option>
            <option value="1">AMK</option>
            <option value="2">BSH</option>
            <option value="3">CGA</option>
            <option value="4">DVR</option>
          </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="RAIL GRADE 1">RAIL GRADE</label>
        <select class="custom-select mr-sm-1" id="RAIL GRADE 1">
          <option selected>Choose Rail Grade...</option>
          <option value="1">90</option>
          <option value="2">110</option>
        </select>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="RAIL LENGTH 1">RAIL LENGTH</label>
            <input type="number" class="form-control" id="RAIL LENGTH 1" placeholder="Rail Length...">
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="NEW WELDS 1">NEW WELD CHAINAGE</label>
        <input type="text" class="form-control" id="NEW WELDS 1" placeholder="CH.31480R & CH.31498R">
    </div>

    <div class="col">
      <label for="COMPLETED OR ABORTED">JOB COMPLETED OR ABORTED</label>
      <select class="form-group" id="COMPLETED OR ABORTED">
        <option selected>Choose Status...</option>
        <option value="1">JOB COMPLETED</option>
        <option value="2">JOB ABORTED</option>
      </select>
    </div>

    <div class="form-group">
      <label for="ABORTION REASON 1">ABORTION REASON</label>
      <input type="text" id="ABORTION REASON 1" class="form-group" aria-describedby="ABORTION REASON 1 HELPLINE">
      <small id="ABORTION REASON 1 HELPLINE" class="text-muted">
        Explanation for job abortion. Leave empty if job was completed.
      </small>
    </div>


  <div class="form-group">
    <label for="TEAM COMPOSITION 1">TEAM COMPOSITION</label>
      <input type="text" class="form-control" id="TEAM COMPOSITION 1" placeholder="e.g. ARE: 1 AE + 2  WORKERS">
  </div>


  <div>
    <h6>RAILS ON BOARD</h6>
  </div>

  <div class="row">

      <div class="col">
        <div class="form-group">       
        <label for="G110 1">G90</label>
          <input type="number" class="col-sm-3 col-form-label" id="G110 1" placeholder="G110">
       </div>
      </div>

      <div class="col">
        <div class="form-group">       
        <label for="G90 1">G90</label>
          <input type="number" class="col-sm-3 col-form-label" id="G90 1" placeholder="G90">
       </div>
      </div>

      <div class="col">
        <div class="form-group">       
        <label for="TAPERED 1">TAPERED</label>
          <input type="number" class="col-sm-3 col-form-label" id="TAPERED 1" placeholder="Tapered">
       </div>
      </div>

      <div class="col">
        <div class="form-group">       
        <label for="IRJ 1">IRJ</label>
          <input type="number" class="col-sm-3 col-form-label" id="G190 1" placeholder="IRJ">
       </div>
      </div>

  </div>


  <div>
    <h6>CLAMPS USED</h6>
  </div>

  <div class="row">

      <div class="col">
        <div class="form-group">       
        <label for="C-CLAMPS 1">C-CLAMPS</label>
          <input type="number" class="col-sm-3 col-form-label" id="C-CLAMPS 1" placeholder="C-CLAMPS">
       </div>
      </div>

      <div class="col">
        <div class="form-group">       
        <label for="FST CLAMPS 1">FST CLAMPS</label>
          <input type="number" class="col-sm-3 col-form-label" id="FST CLAMPS 1" placeholder="FST CLAMPS">
       </div>
      </div>

      <div class="col">
        <div class="form-group">       
        <label for="G-CLAMPS 1">G-CLAMPS</label>
          <input type="number" class="col-sm-3 col-form-label" id="G-CLAMPS 1" placeholder="G-CLAMPS">
       </div>
      </div>

      <div class="col">
        <div class="form-group">       
        <label for="ROBEL 1">ROBEL</label>
          <input type="number" class="col-sm-3 col-form-label" id="ROBEL 1" placeholder="ROBEL">
       </div>
      </div>

  </div>

</div>



        <div class="col-sm-3 my-1">
          <h2>OPERATION 2</h2>
          <label for="CONSIST 2">CONSIST 2</label>
          <select class="custom-select mr-sm-2" id="CONSIST 2">
            <option selected>Choose Consist...</option>
            <option value="1">PW1/TGV789</option>
            <option value="2">COM2/TGV456</option>
            <option value="3">COM1/RLW</option>
            <option value="4">TGV123</option>
          </select>  
        </div>





        <div class="col-sm-3 my-1">
          <h2>OPERATION 3</h2>
          <label for="CONSIST 3">CONSIST 3</label>
          <select class="custom-select mr-sm-3" id="CONSIST 3">
            <option selected>Choose Consist...</option>
            <option value="1">PW1/TGV789</option>
            <option value="2">COM2/TGV456</option>
            <option value="3">COM1/RLW</option>
            <option value="4">TGV123</option>
          </select>
        </div>

      </div>
    </form>



</body>

</html>

