<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="HOMEPAGE_STYLER.css">
    
</head>

<body >
    

<div class = header>
<h1 id="main_header">TR PLANNERS HOMEPAGE</h1>
</div>

<div class = links>
<p>LINKS</p>

<ol>
    <li>
        <a href="unlimited">UNLIMITED PLANNING TABLE</a>
    </li>
    <li>
        <a href="daily">DAILY SCHEDULE TABLE</a>
    </li>
    <li>
        <a href="form">COMPLETED WORKS FORM</a>
    </li>
</ol>
</div>

</body>
</html>